<div class="my-5">
	<h1 class="my-5 text-center">작성하기</h1>
	<form name="frm">
		<input name="title" class="form-control mb-2" placeholder="제목을 입력하세요">
		<textarea name="body" rows="10" class="form-control" placeholder="내용을 입력하세요"></textarea>
		<div class="text-cemter my-3">
			<button class="btn btn-primary px-5">등록</button>
			<button class="btn btn-secondary px-5" type="reset">취소</button>
		</div>
	</form>
</div>
<script>
	$(frm).on("submit", function (e) {
		e.preventDefault();
		const title = $(frm.title).val();
		const body = $(frm.body).val();
		const writer = sessionStorage.getItem("uid");
		if (title == "") {
			alert("제목을 입력하세요.");
			$(frm.title).focus();
			return;
		}
		if (confirm("게시글을 등록하실래요?")) {
			const data = {title, body, writer};
			$.ajax({
				type: "post",
				url: "insert",
				data: JSON.stringify(data),
				contentType: "application/json",
				success: function () {
					location.href = "/posts/list";
				}
			})
		}
	})
</script>